@tailwind base;
@tailwind components;
@tailwind utilities;

.half-blue-half-yellow-shadow {
  box-shadow: 3px 6px 7px -4px #fff41c, -1px 4px 5px 1px #1739b6;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #1f2937;
  border-radius: 4px;
}

body {
  /* fix for iOS */
  background-color: #06080b;
  margin: 0;
  padding: 0;
}

@layer base {
  html {
    font-family: "Raleway", sans-serif;
  }

  /* Style for the custom scrollbar */
  .scrollbar-dark::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }

  .scrollbar-dark::-webkit-scrollbar-thumb {
    background-color: #6b7280; /* Thumb color */
    border-radius: 4px;
  }

  .scrollbar-dark::-webkit-scrollbar-track {
    background-color: #1f2937; /* Track color */
    border-radius: 4px;
  }
}
